h1, h3 {
    letter-spacing: 2px;
}

p {
    line-height: 1.6;
}

blockquote {
    background-color: #444;
    padding: 15px;
    border-left: 5px solid #ff6347;
    margin: 20px;
}

img {
    border-radius: 8px;
}
